.overskrift {
	margin-top: 3%;
	margin-left: 2%;
	margin-bottom: 2%;
	font-family: 'Quicksand', sans-serif;
}

.submitbutton {
	border-radius: 4px;
	background-color: #cccccc;
	transition-duration: 0.35s;
}

.submitbutton:hover{
	background-color: #d9d9d9;
}

input {
	border-radius: 3px;
}

input [type=date] {
	border-radius: 3px;
}

input:focus {
	outline: none;
	border: 2px solid #555;
}

/* Overview */
.tab-content {
	font-family: 'Quicksand', sans-serif;
}

.overviewtable {
	list-style-position:inside;
  border: 1px solid black;
	list-style-type: none;
	margin-left: 5%;
	width: 80%
}

#tableoverskrift {
	background-color: #499b9c;
	color: #f2f2f2;
	font-size: 120%;
	border:1px solid black
}

.date {
	width: 160px;
}

.band {
	width: 350px;
}

.scene {
	width: 140px;
}

.technicians {
	width: 160px;
}

/* Home */
#home a {
	margin-left: 25px;
}

/* Create booking */
#create_booking_form {
	margin-left: 2%;
	font-family: 'Quicksand', sans-serif;
}


/* View Bookings */

#view_bookings li {
	padding: 20px;
	padding-left: 30px;
	text-align: center;
}
#view_bookings img {
	padding: 30px;
	display: block;
	margin: auto;
}

#view_bookings h1 {
	text-align: center;
	padding: 10px;
}

/* view_booking */
#view_booking li {
	list-style-type: square;
}

#view_booking h1 {
	text-align: center;
}

#view_booking p{
	color: lightgray;
}
