
/* Home */
#home a {
	margin-left: 25px;
}


/* View Bookings */

#view_bookings li {
	padding: 20px;
	padding-left: 30px;
	text-align: center;
}
#view_bookings img {
	padding: 30px;
	display: block;
	margin: auto;
}

#view_bookings h1 {
	text-align: center;
	padding: 10px;
}

/* view_booking */
#view_booking li {
	list-style-type: square;
}

#view_booking h1 {
	text-align: center;
}

#view_booking p{
	color: lightgray;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
