{% extends 'base.html' %}
{% load static %}

{% load permission_tags %}

{% block content %}
<ol class="breadcrumb">
 <li class="breadcrumb-item"><a href="/">Home</a></li>
 <li class="breadcrumb-item active">Bands</li>
</ol>

	<div id="view_band">
		{% if user|can:'search_band' %}
		<h1>View Bands</h1>
		{% for b in bands %}
		<li>{{ b }} <button type="button" name="button" onclick="window.location.href = '/bands/band/{{b.id}}'">See band information</button></li>
		{% endfor %}
		{% else %}
			<script language="javascript">window.location.href = "/"</script>
		{% endif %}
		<img src="{% static "img/heart.png" %}" alt="hjerte">
	</div>
{% endblock %}
