{% extends 'base.html' %}
{% load static %}

{% block title %}Booking{% endblock %}

{% load permission_tags %}
{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Create Booking</li>
</ol>

{% load permission_tags %}

	{% for b in bookings %}
        <li><p>{{ b }}</p></li>
  {% endfor %}

	<img src="{% static "img/FSM_2.png" %}" alt="">

  {% if user|can:'send_bookingoffer' %}
  {% else %}
      <script language="javascript">window.location.href = "/"</script>
  {% endif %}

{% endblock %}
