{% extends 'base.html' %}
{% load static %}

{% block title %}Booking{% endblock %}

{% load permission_tags %}
{% block content %}
<head>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
  <h2 class="overskrift">Create a booking</h2>
  {% load permission_tags %}

  <form id="create_booking_form" method="post">
		{% csrf_token %}
    {{ form.as_p }}
    <input class="submitbutton" type="submit" value="Submit" />
  </form>

  {% if user|can:'send_bookingoffer' %}
  {% else %}
      <script language="javascript">window.location.href = "/"</script>
  {% endif %}

{% endblock %}
