{% extends 'base.html' %}
{% load static %}

{% block title %}Booking{% endblock %}

{% load permission_tags %}
{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/bookings">Bookings</a></li>
  <li class="breadcrumb-item active">Create Booking</li>
</ol>

{% load permission_tags %}

  <form action="send_email" method="post">{% csrf_token %}

    Hvem skal bookingen sendes til?:<br>
    <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
    <input type="email" name="name"><br>

    Prisforslag: <br>
    <i class="fa fa-money" aria-hidden="true"></i>
    <input type="number" name="price"><br>

    Dato:<br>
    <i class="fa fa-calendar" aria-hidden="true"></i>
    <input type="date" name="date"><br>

    Kommentar:<br>
    <i class="fa fa-commenting-o" aria-hidden="true"></i>
    <textarea name="comment" cols="35" rows="3"></textarea><br><br>

    <input type="submit" value="Submit">

  </form>

  {% if user|can:'send_bookingoffer' %}
  {% else %}
      <script language="javascript">window.location.href = "/"</script>
  {% endif %}

{% endblock %}
