{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
</ol>

{% load permission_tags %}
  {% if user|can:'rettighet_yeye' %}
     <a href="/dennesidenfinnesikke">Har rettigheter_yeye</a>
  {% endif %}
  {% if user|can:'enda_en_rettighet' %}
     <a href="/dennesidenfinnesHELLERikke">Har enda_en_rettighet</a>
  {% endif %}
  {% if user|can:'eksempel_bruker_rettighet' %}
     <a href="/dennesidenfinnesHELLERikke">Har eksempel_bruker_rettighet</a>
  {% endif %}
  {% if user|can:'en_annen_bruker_rettighet' %}
     <a href="/dennesidenfinnesHELLERikke">Har en_annen_bruker_rettighet</a>
  {% endif %}
  {% if user|can:'view_concerts' %}
     <a href="/dennesidenfinnesHELLERikke">view concerts</a>
  {% endif %}
{% endblock %}
