{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

  <ol class="breadcrumb">
      <li class="breadcrumb-item active">Home</li>
  </ol>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
  {% load permission_tags %}

    {% if user|can:'send_bookingoffer' %}
        <a href="{% url 'create_booking' %}">Create booking</a><br>
    {% endif %}
    {% if user|can:'view_my_shifts' %}
        <a href="{% url 'shifts' %}">My shifts</a><br>
    {% endif %}
		{% if user|can:'view_concerts' %}
        <a href="{% url 'overview' %}">Overview</a><br>
    {% endif %}
		{% if user|can:'view_bookings' %}
        <a href="{% url 'bookings' %}">Bookings</a><br>
    {% endif %}
		{% if user|can:'view_bookings' %}
        <a href="{% url 'pending_bookings' %}">Pending bookings</a><br>
    {% endif %}
		{% if user|can:'search_band' %}
        <a href="{% url 'bands' %}">Bands</a><br>
    {% endif %}
    {% if user|can:'view_edit_all_shifts' %}
        <a href="{% url 'shifts' %}">Manage shifts</a><br>
    {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
