{% extends 'base.html' %}

{% block title %}Overview{% endblock %}

{% load static %}

{% load permission_tags %}

{% block content %}
<head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Overview</li>
</ol>
<div class="container-fluid">
    <div id="concert_overview">
        {% if user|can:'view_concerts' or user|can:'can_serve_food' %}

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            {% if user|can:'view_concerts' or user|can:'can_serve_food' %}
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home" role="tab">Coming concerts</a></li>
            {% endif %}
            {% if user|can:'view_concerts'%}
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#archive" role="tab">Archive</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#genre" role="tab">Archive by Genre</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#searchBand" role="tab">Search Band</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#festival" role="tab">Festival overview</a></li>
            {% if user|can:'view_scene_info'%}
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#scene" role="tab">Scene overview</a></li>
            {% endif %}
            {% endif %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Coming concerts -->
            <div class="tab-pane active" id="home" role="tabpanel" style="width:120%;">
                <h2 class="overskrift">Concerts</h2>

                <div id="tabell">
                    <table class="table table-striped table-responsive">
                        <thead id="tabelltopp">
                            <th>Date</th>
                            <th>Band</th>
                            <th>Scene</th>
                            <th>Technicians</th>
                            <th>Tech Contact</th>
                            <th>Genre</th>
                            <th>Expected Visitors</th>
                            <th>Details</th>
                        </thead>

                        <tbody>
                            {% for scene in bookings_array.keys %}
                            {% for b in bookings %}
                            {% if b.scene == scene and b.approvedBookingBoss and b.approvedManager and b.inFuture %}
                            <tr>
                                <th>{{b.date}}</th>
                                <th>{{b.band.bandName}}</th>
                                <th>{{b.scene}}</th>
                                <th>
                                    {% for t in b.technicians.all %}
                                    {% if forloop.counter0 == 0%} | {% endif %}
                                    {{t}} |
                                    {% endfor %}
                                </th>
                                <th>
                                    {% for t in b.technicians.all %}
                                    {% if forloop.counter0 == 0%} {{t}} {% endif %}
                                    {% endfor %}
                                </th>
                                <th>{{b.band.genre}}</th>
                                <th>{{b.ticketsSold}}</th>
                                <th><button type="button" name="button" onclick="window.location.href = '/bookings/booking/{{b.id}}'">See details</button></th>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="archive" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    {% for scene in scenes %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#archiveTab{{ forloop.counter }}" role="tab">{{scene}}</a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">

                    {% for scene in scenes %}
                    <div class="tab-pane" id="archiveTab{{ forloop.counter }}" role="tabpanel">
                        <h2 class="overskrift">Past concerts at {{scene}}</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Band</th>
                                    <th>Genre</th>
                                    <th>Date</th>
                                    <th>Tickets sold</th>
                                    <th>Total cost</th>
                                    <th>Band cost</th>
                                    <th>Other costs</th>
                                    <th>Ticket cost</th>
                                    <th>Earnings</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for b in past_bookings %}
                                {% if b.scene == scene %}
                                <tr>
                                    <td>{{b.band}}</td>
                                    <td>{{b.band.genre.genreName}}</td>
                                    <td>{{b.date}}</td>
                                    <td>{{b.ticketsSold}}</td>
                                    <td>{{b.totalCost}}</td>
                                    <td>{{b.bandPrice}}</td>
                                    <td>{{b.otherCosts}}</td>
                                    <td>{{b.ticketPrice}}</td>
                                    <td>{{b.totalCostResult}}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <div class="tab-pane" id="genre" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    {% for genre in genres %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#genreTab{{ forloop.counter }}" role="tab">{{genre.genreName}}</a>
                    </li>
                    {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for g in genres %}
                    <div class="tab-pane" id="genreTab{{ forloop.counter }}" role="tabpanel">
                        <h2 class="overskrift">Past concerts in {{g.genreName}}</h2>
                        <!-- HER SKAL KODE SOM SKAL STÅ PÅ "genre" -->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Band</th>
                                    <th>Genre</th>
                                    <th>Date</th>
                                    <th>Tickets sold</th>
                                    <th>Total cost</th>
                                    <th>Band cost</th>
                                    <th>Other costs</th>
                                    <th>Ticket cost</th>
                                    <th>Earnings</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for b in past_bookings %}
                                {% if b.band.genre == g %}
                                <tr>
                                    <td>{{b.band}}</td>
                                    <td>{{b.band.genre.genreName}}</td>
                                    <td>{{b.date}}</td>
                                    <td>{{b.ticketsSold}}</td>
                                    <td>{{b.totalCost}}</td>
                                    <td>{{b.bandPrice}}</td>
                                    <td>{{b.otherCosts}}</td>
                                    <td>{{b.ticketPrice}}</td>
                                    <td>{{b.totalCostResult}}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Search by Band -->
            <div class="tab-pane" id="searchBand" role="tabpanel">
                <p>to be implemented</p>
            </div>

            <!-- Festival overview -->
            <!--
<div class="tab-pane" id="festival" role="tabpanel">
<p><b>to be implemented</b></p>

<p>Start Date: {{festival.startDate}}</p>
<p>End Date: {{festival.endDate}}</p>

<p>Total consert dates: {{totalConsertDates}}</p>
<p>Free concert dates: {{freeConsertDates}}</p>

<p>Totalt conserts: {{bookings.count}}</p>
<p>Coming Conserts: {{futureBookingsCount}}</p>
<p>Offers sent to manager: {{bookings.count}} </p>

</div>
-->

            <div class="tab-pane" id="scene" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    {% for scene in scenes %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#sceneTab{{ forloop.counter }}" role="tab">{{scene}}</a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">

                    {% for scene in scenes %}
                    <div class="tab-pane" id="sceneTab{{ forloop.counter }}" role="tabpanel">
                        <h2 class="overskrift">Key data for {{scene}}</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Ticketsales</th>
                                    <th>Pending technical requirements</th>
                                    <th>Completed technical requirements</th>

                                </tr>
                            </thead>

                            <tbody>
                                {% for b in bookings %}
                                {% if b.scene == scene %}
                                <tr>
                                    <td>{{b.date}}</td>
                                    <td>{{b.ticketsSold}}</td>
                                    <td>{{b.technicalRequirements}}</td>
                                    <td>{{b.completedTechnicalRequirements}}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                </div>

            </div>

        </div>

        {% endif %}
    </div>

</div>
{% endblock %}
