{% extends 'base.html' %}

{% block title %}Overview{% endblock %}

{% load static %}

{% load permission_tags %}

{% block content %}
<head>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>

<ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="/">Home</a></li>
   <li class="breadcrumb-item active">Overview</li>
</ol>

<div id="concert_overview">
    {% if user|can:'view_concerts' %}

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home" role="tab">Coming concerts</a></li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#archive" role="tab">Archive</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#genre" role="tab">Archive by Genre</a>
        </li>
				<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#searchBand" role="tab">Search Band</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
				<!-- Coming concerts -->
        <div class="tab-pane active" id="home" role="tabpanel">
          <h2 class="overskrift">Concerts</h2>

            <div id="tabell">
              <table class="table table-striped table-responsive">
                <thead id="tabelltopp">
                    <th>Date</th>
                    <th>Band</th>
                    <th>Scene</th>
                    <th>Technicians</th>
										<th>Details</th>
                </thead>

								<tbody>
              		{% for scene in bookings_array.keys %}
                  	{% for b in bookings %}
                  		{% if b.scene == scene and b.approvedBookingBoss and b.approvedManager and b.inFuture %}
                      	<tr>
                        	<th>{{b.date}}</th>
                        	<th>{{b.band.bandName}}</th>
                        	<th>{{b.scene}}</th>
                        	<th>
														{% for t in b.technicians.all %}
														{% if forloop.counter0 == 0%} | {% endif %}
															{{t}} |
														{% endfor %}
													</th>
													<th><button type="button" name="button" onclick="window.location.href = '/bookings/booking/{{b.id}}'">See details</button></th>
                      	</tr>
                  		{% endif %}
                  	{% endfor %}
									{% endfor %}
								</tbody>
							</table>
            </div>
          </div>
        <div class="tab-pane" id="archive" role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
              {% for scene in scenes %}
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#archiveTab{{ forloop.counter }}" role="tab">{{scene}}</a>
              </li>
              {% endfor %}
            </ul>
            <div class="tab-content">

              {% for scene in scenes %}
              <div class="tab-pane" id="archiveTab{{ forloop.counter }}" role="tabpanel">
                <h2 class="overskrift">Past concerts at {{scene}}</h2>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Band</th>
											<th>Genre</th>
                      <th>Date</th>
                      <th>Tickets sold</th>
                      <th>Total cost</th>
											<th>Band cost</th>
											<th>Other costs</th>
											<th>Ticket cost</th>
                      <th>Earnings</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for b in past_bookings %}
                    {% if b.scene == scene %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{b.band}}</td>
											<td>{{b.band.genre.genreName}}</td>
                      <td>{{b.date}}</td>
                      <td>{{b.ticketsSold}}</td>
                      <td>{{b.totalCost}}</td>
											<td>{{b.bandPrice}}</td>
											<td>{{b.otherCosts}}</td>
                      <td>{{b.ticketPrice}}</td>
											<td>{{b.totalCostResult}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% endfor %}
            </div>

        </div>
        <div class="tab-pane" id="genre" role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
              {% for genre in genres %}
              	<li class="nav-item">
                	<a class="nav-link" data-toggle="tab" href="#genreTab{{ forloop.counter }}" role="tab">{{genre.genreName}}</a>
              	</li>
              {% endfor %}
            </ul>

						<div class="tab-content">
							{% for g in genres %}
              <div class="tab-pane" id="genreTab{{ forloop.counter }}" role="tabpanel">
								<h2 class="overskrift">Past concerts in {{g.genreName}}</h2>
								<!-- HER SKAL KODE SOM SKAL STÅ PÅ "genre" -->
								<table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Band</th>
											<th>Genre</th>
                      <th>Date</th>
                      <th>Tickets sold</th>
                      <th>Total cost</th>
											<th>Band cost</th>
											<th>Other costs</th>
											<th>Ticket cost</th>
                      <th>Earnings</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for b in past_bookings %}
	                    {% if b.band.genre == g %}
		                    <tr>
		                      <td>{{forloop.counter}}</td>
		                      <td>{{b.band}}</td>
													<td>{{b.band.genre.genreName}}</td>
		                      <td>{{b.date}}</td>
		                      <td>{{b.ticketsSold}}</td>
		                      <td>{{b.totalCost}}</td>
													<td>{{b.bandPrice}}</td>
													<td>{{b.otherCosts}}</td>
		                      <td>{{b.ticketPrice}}</td>
													<td>{{b.totalCostResult}}</td>
		                    </tr>
											{% endif %}
                    {% endfor %}
                  </tbody>
                </table>
							</div>
							{% endfor %}
						</div>
        </div>

				<!-- Search by Band -->
				<div class="tab-pane" id="searchBand" role="tabpanel">
					<p>to be implemented</p>
				</div>
			</div>

			{% endif %}
</div>
{% endblock %}
