{% extends 'base.html' %}

{% block title %}Send technical requirements{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Send technical requirements</li>
</ol>

{% load permission_tags %}

{% if user|can:'send_techneeds' %}
<h4>Here you can send a list of your technical requirements</h4>

<form id="send_techneeds_form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="submitbutton" type="submit" value="Submit" />
</form>

{% endif %}
{% endblock %}