{% extends 'base.html' %}
{% load static %}

{% load permission_tags %}

{% block content %}
<div id="view_booking">
	{% if user|can:'view_bookings' %}
	<h1>View Booking</h1>
	<p>{{booking}}</p>
	<ul>
		<li>Band: {{booking.band.bandName}}</li>
		<li>Date: {{booking.date}}</li>
		<li>BookingBoss Approved: {{booking.approvedBookingBoss}}</li>
		<li>Manager Approved: {{booking.approvedManager}}</li>
		<li>Tech Req: {{booking.technicalRequirements}}</li>
		<li>Scene: {{booking.scene}}</li>
		<li>Price for band: {{booking.pris}}</li>
	</ul>
	{% else %}
	{% endif %}
</div>
{% endblock %}
